block vars

head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1')
	meta(name='description' content='Assignment')
	title='c0::' + pageTitle
	link(rel='icon' type='image/png' href='img/assets/favicon.ico')
	link(rel='stylesheet' href='css/style.min.css')
	if doLightbox
		script(type='module' src='js/photoswipe.js')
	if doParticles
		script(src='js/particles.min.js')
	script(defer src='js/app.js')