nav {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: baseline;
	flex-wrap: wrap;

	p {
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px;
		border-bottom-color: $gray;
		text-transform: uppercase;

		a {
			display: block;
			margin-top: 60%;
			padding-bottom: 5px;
			text-decoration: none;
			color: $gray;
			border-bottom: 1px solid $gray;
		}

		a[class*='nav-here'] {
			color: $red;
			border-bottom: 1px solid $red;
		}
	}
}

@media screen and (min-width: $mobile) {
	nav {
		justify-content: space-around;
		flex-wrap: nowrap;
	}
}

@media screen and (min-width: $tablet) {
	nav p {
		min-width: 100px;
	}
}

@media screen and (min-width: $mobile) and (max-width: $tablet - 1) {
	nav p {
		min-width: 80px;
		margin-top: 12px;
	}
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}
