extends ./layouts/default.pug

block vars
	- pageTitle = 'About'

block tagline
	h1#tagline Hey,&nbsp;I'm&nbsp;Zak

block content
	section.horizontal-pair
		div.left
			div.hex-item
				div.hex-content.funky
					img.with-full-effects(src='img/assets/avatar.webp')
					img.with-simple-effects(src='img/assets/avatar.webp')
		div.right
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			p Cras adipiscing enim eu turpis. Velit ut tortor pretium viverra suspendisse potenti nullam ac tortor. Volutpat ac tincidunt vitae semper quis lectus nulla at volutpat.
			p Ipsum nunc aliquet bibendum enim facilisis gravida neque convallis a. Faucibus a pellentesque sit amet porttitor. Vitae congue mauris rhoncus aenean.