extends ./layouts/default.pug

block vars
	- pageTitle = 'Archive'

block tagline
	h1#tagline Archive&nbsp;demo

block content
	section
		div.grid
			each article in articles
				article
					header
						h2
							a(href=article.link) #{article.headline}
					div.article-content
						each paragraph in article.content
							p !{paragraph}